<style type="text/css">
	#loader{
		display: none;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<form action="{{ resultPage }}" name="job-search" method="POST" role="form">
				<input type="hidden" name="search-type" id="search-type" class="form-control" value="basic-search">

				<div class="form-group">
					<label for="job-title">Job Title</label>
					<select name="job-title" id="job-title" class="form-control">
						<option value="" selected>-- ALL --</option>
						{% for jobTitle in jobTitles %}
							<option value="{{ jobTitle.name|e }}">{{ jobTitle.name|e }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="form-group">
					<label for="industry">Industry</label>

					<select name="industry" id="industry" class="form-control">
						<option value="" selected>-- ALL --</option>
						{% for industry in industries %}
							<option values="{{ industry.name|e }}"> {{ industry.name|e }} </option>
						{% endfor %}
					</select>
				</div>

				<div class="form-group">
					<label for="salary">Salary</label>
					<select name="salary" id="salary" class="form-control">
						<option value="">-- ALL --</option>
						{% for salary in salaryRange %}
							<option value="{{ salary|e }}">{{ salary|e }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="form-group">
					<label for="country">Country</label>
					<select name="country" id="country" class="form-control">
						<option value="">-- ALL --</option>
						{% for country in countries %}
							<option value="{{ country.id|e }}" {{ ('216' in country.id) ? 'selected' : '' }} >{{ country.name|e }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="form-group">
					<label for="region">Region</label>
					<select name="region" id="region" class="form-control">
						<option value="">-- ALL --</option>
						{% for region in regions %}
							<option value="{{ region.id|e }}">{{ region.name|e }}</option>
						{% endfor %}
					</select>
				</div>


				<button type="submit" class="btn btn-primary btn-lg pull-right">Search</button>
			</form>
			<br/><br/>
			<label id="loader" class="pull-left"> <img src="{{ assetsUrl }}" /> Please wait while loading...</label>
		</div>
	</div>
</div>