<div class="container">
	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			{% for job in jobs %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{job.job_title}} <a href="{{ uploadCV }}?uid={{ job.UID }}&id={{ job.id }}" class="btn btn-primary btn-xs pull-right">Apply</a> </h3>
					</div>
					<div class="panel-body">
						{{ job.detail|raw }}
						<div class="list-group">
							<a href="#" class="list-group-item active">
								<h4 class="list-group-item-heading">Salary Range</h4>
								{# <p class="list-group-item-text">{{ job.salary }} - {{ job.salary2 }} </p> #}
								{% if not job.salary2 %}
									<p class="list-group-item-text">Salary : {{ job.salary }} </p>
								{% else %}
									<p class="list-group-item-text">Salary : {{ job.salary }} - {{ job.salary2 }} </p>
								{% endif %}
							</a>
							{# {{ dd( job ) }} #}
						</div>
					  </div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		<nav>
			<ul class="pagination">
				{% for page in paginate %}
					<li>{{page|raw}}</li>
				{% endfor %}
			</ul>
		</nav>

		</div>
	</div>
</div>